.env
/other/.env
.git
test-pyrogram-bot.session
/help/__pycache__/
/help/other/__pycache__/
test-pyrogram-bot.session-journal
test-pyrogram-bot.session-shm
test-pyrogram-bot.session-wal
.pyc
__pycache__
.idea/