{% extends "base.html" %}

{% block content %}
<br>
<div class='container'>
   <div class="col-lg-6">
     <fieldset class="border" >
       <legend><p class="user-select-none">Условия использования и Политика конфиденциальности</p></legend>


         <p id="innerPara" class="user-select-none">
            Прочтите каждый пункт.
        </p>
        <ul class="list-group list-group-light">

            <li class="list-group-item border-0">
              <p class="user-select-none">
                Пользователь согласен на использование данных, которые он предоставляет сайту.
              </p>
            </li>

            <li class="list-group-item border-0">
              <p class="user-select-none">
                Пользователь в праве подать заявку на удаление своих данных из наших баз.
              </p>
            </li>

            <li class="list-group-item border-0">
              <p class="user-select-none">
                Проект получит доступ к вашим данным аккаунта Telegram: имя, фамилию, юзернейм.
              </p>
            </li>

            <li class="list-group-item border-0">
              <p class="user-select-none">
                Создатели проекта не несут ответственность за любые сторонние веб-сайты, на которые пользователь ссылается или подключаетесь на веб-сайте или в приложении.
              </p>
            </li>

            <li class="list-group-item border-0">
              <p class="user-select-none">
                Создатели проекта могут предоставить четкую политику в отношении нарушения авторских прав в соответствии с Законом.
              </p>
            </li>
        </ul>
 </fieldset>
 </div>
 <br>
<div class="d-flex justify-content-start">
  <a class="btn btn-danger" href="/register">Назад</a>
</div>

 {% endblock %}